# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,clojure
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,clojure

### Clojure ###
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# clj-kondo specific ignores
.clj-kondo/.cache

# .lsp server files
.lsp/

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,clojure
